.container__big-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65%;

  margin: 1.5em;
}

.img__big-card {
  display: flex;
  justify-content: center;
}

.img__big-card > img {
width: 50cqmax;
height: 17.5cqmax;
border-radius: 1%;
}

.title__big-card > h1{
  font-size: 7cqmin;
  margin: .5em;
}


.description__big-card > p{
  font-size: 3.5cqmin;
  margin: .5em;
  color: grey;
}


/*
@media (width <= 900px) and (width >= 400px){

  .title__big-card > h1{
    font-size: 4.5cqmin;
    font-size-adjust: 0.1;

  }


  .description__big-card > p{
    font-size: 2.5cqmin;
    margin: .75em;
  }
} */
