.container__menu-title {
color: white;
}


.container__menu-title h1 {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  font-size: 15cqmin;

  display: flex;
  justify-content: center;


  font-weight: boler;
}


.container__menu-title hr {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  font-size: 135px;
}

